@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner-container{
   max-width: : 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-content{
    height: 582px;
    width: 998px;
    margin: 221 221 26 21;
    margin: 0 auto;

600
Font size
20px
Row height
23px
}
.banner{
    width: 240.28;
    height: 240;

}
.banner-container-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 32px;
    margin-top: 32px;


}

.banner-container-description{
    font-size: 16px;
    text-align: center;
    margin-bottom: 32px;

}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.promary-button{
    padding: 21px 24px ;
    background-color:black;
    margin-top: 24px;
    border:none;
    border-radius: 5px;

}

.promary-button a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    
}


/* .midnight-section{
    width: 1140px;
    height: 1395px;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    
}
.leftside-content-part1{
    width: 1140px;
    height: 1336px;
    display: flex;
}
.leftside-content-1{
    width: 50%;
    height: 336px;
    border: 2px solid green;
}

.rightside-content-1{
    width: 50%;
    height: 336px;
    border: 2px solid blue;
}

.leftside-content-part2{
    display: flex;
}

.leftside-content-2{
    border: 2px solid gold;
    height: 772px;
} */

.youtube-content{
    width: 1140px;
    height: 777px;
    /* border: 2px solid red; */
    margin: 0 auto;
    padding: 32px;
    
}

.youtube-vedio{
    border-radius: 10px;
    
}

.youtube-title{
    text-align: center;
    font-size: 32px;
    weight: 800;
    margin-bottom: 24px;
}

.youtube-description{
    font-size: 16px;
    weight: 400;
    height: 26px;
    text-align: center;
    margin-bottom: 48px;
}


.skill-content{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 151px;
    /* border: 2px solid red; */
    
}

.slill-continer{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 852px;
    height: 115px;
    margin-bottom: 48px;

}

.skill-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;    
    margin-top: 24px;
}

.skill-content-description{
    display: flex;
    gap: 24px;

}
.skill-html{
    border-radius: 10px;
    width: 364px;
    height: 300px;
    /* border: 2px solid blue; */
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);

}

.skill-ccs{
    width: 364px;
    height: 300px;
    /* border: 2px solid black; */
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 76, 232, 0.05);
}

.skill-java{
    width: 364px;
    height: 300px;
    /* border: 2px solid green; */
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(255, 223, 0, 0.05);
}

.support-content{
    background-image: url(/assets/handshake.jpg);
    width: 1140px;
    height: 314px;
    border: 2px solid rebeccapurple;
    margin: 0 auto;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(13, 19, 33, 1);
    text-align: center;
    margin-top: 154px;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 80px;
}

.support-continer{
    text-align: center;
    margin-top: 64px;
}

.support-content h1{
    font-size: 32px;
    color: white;
    font-weight: 700;
}
.support-content p{
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    color: white;
}

.support-input{
    margin-top: 24px;
    width: 548px;
    font-size: 16px;
    padding: 15px;
    height: 57px;
   
}
.support-btn{
    height: 57px;
    padding: 15px;
    font-size: 20px;
    
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1140px;
    height: 100px;
    margin-top: 32px;
}

.footer-icon{
    justify-content: space-between
}

.footer-contener h3{
    font-size: 20px;
}